
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

$tamanoletraheader: 1.5rem;

*{box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;}

.nav-abath { 
   width: 100% !important;
    }

    a.navbar-brand {padding: 0;
      vertical-align: text-bottom !important;}

    
.nav-abath ul {   display: flex !important;
     justify-content: center!important;
     column-gap: 8rem;
    width: 100% !important;}

    .image {  width:  100%!important;
 height: 300px;
    object-fit: cover;
    }

.imagesize{width: 12.5%;}

    .catpics { 
        margin-top: 10px;
        display: flex !important;
        justify-content: space-evenly;
        padding: 10px;
        width: 100%;
      flex-wrap: wrap;
    }

    .fotosgatos {display: flex ;
 flex-direction: column ;
align-items:  center ;
padding-bottom: 20px;
}

.botones {margin-bottom: 1rem !important;}
.presentacion {width: 100%;

margin-top: 50px;}
.nav-link{font-size: $tamanoletraheader;}


.iconotitulo {font-size: 30px;}
.icono { display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  margin-top: 10px;
  margin-left: 30px;
  }
  
  .card {
    margin:15px !important;
  }

  .spinnersize {

    height: 300px;
    width: 300px;
    display: block !important;
    margin: auto !important;
  }

  .spinnermargen { margin-top: 100px !important;}

.fondo {width: 100%;}

.boton {background-color: #f8c164 !important;
border: none !important;
color: black !important;}

.card img {width: 300px;
margin: auto;}
//.image {border-radius: 5px;}

 

  //media querie
  @media screen and (max-width: 1024px){
  .imagesize{width: 40%;}
  .card {
    margin:0px !important;
    margin-top: 2rem !important;
  }
  }

  @media all and (min-width: 1024px) and (max-width: 1280px){
    .imagesize{width: 33.333%;}
    }

    @media screen and (min-width: 1280px){
      .imagesize{width: 25%;}
      }